{% extends 'base.html' %}
{% block bodyblock %}
        <h1>Hello From Edit Card!!</h1> 
        {{card.firstName}}
        <form method="POST", enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ formset.management_form}}
            <div id="contact-formset-list" >
                {% for form in formset %}
                    <div class="contact-formset">
                        {{ form }}
                    </div> 
                {% endfor %}
            </div>
            <div id="empty-form" class="hidden" >{{ formset.empty_form }}</div>
            <button id="add-contact" type="button">Add Contact</button>
            
            <input type="submit" value="Update">
        </form>
        

        <script type="text/javascript">
            const btn = document.getElementById("add-contact")
            
            
            btn.addEventListener('click', (e) => {
                if (e) {
                    e.preventDefault()
                }
                const totalNewForms = document.getElementById("id_form-TOTAL_FORMS")
                const currentForms = document.getElementsByClassName("contact-formset")
                const currentFormCount = currentForms.length
                const nextFormValue = currentFormCount
                const contactFormTarget = document.getElementById('contact-formset-list')
                const emptyform = document.getElementById('empty-form').cloneNode(true)
                // const clone = emptyform.cloneNode(true)
                emptyform.setAttribute('class', 'contact-formset')
                emptyform.setAttribute('id', `form-${nextFormValue}`)
                const regex = RegExp('__prefix__', 'g')
                emptyform.innerHTML = emptyform.innerHTML.replace(regex, nextFormValue)
                totalNewForms.setAttribute('value', nextFormValue + 1)
                
                contactFormTarget.append(emptyform)
            })
        </script>
        
{% endblock bodyblock %}